<!DOCTYPE html>

<html ng-app="busCard">
<head>
    <title>Business Card</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="webCardStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
</head>

<body class="body">
	<div class="card container" ng-controller="MainCtrl">
		<div >
			<h3>Enter your details below to generate your business card.</h3>
			<form class="form-horizontal wrapper" role="form" ng-submit="addUser()">

                <div>
                     <div class="col-md-6">
                         <input type="text" placeholder="Enter Github Username" class="form-control" name="username" ng-model="username" ><br>
                         <input type="text" placeholder="Enter Linkedin Public URL" class="form-control" name="linkedin" ng-model="linkedin" /><br>
                         <input type="text" placeholder="Enter Twitter Username" class="form-control" name="twitter" ng-model="twitter" /><br>
                     </div>
                     <div class="col-md-6">
                         <input type="text" placeholder="Enter Phone Number (12345678900)" class="form-control" name="phone" ng-model="phone" /><br>
                         <input type="text" placeholder="Enter Email Address" class="form-control" name="email" ng-model="email"/><br>
                         <input type="text" placeholder="Job Title/Position" class="form-control" name="position" ng-model="position" /><br>
                     </div>
                     <div class="col-md-12"><textarea rows="4" placeholder="Headline" class="form-control" name="headline" ng-model="headline"></textarea><br></div>
                </div>
                <br>
		        <div>
		         	<div class="col-md-4"><!-- Skill 1 -->
				    <input class="form-control skillInput" type="text" placeholder="Skill 1 Name" name="skillOneName" ng-model="skillOneName"/><br>
				    <input class="form-control skillInput" type="text" placeholder="Skill 1 Link" name="skillOneLink" ng-model="skillOneLink"/><br>
                    </div>

				    <div class="col-md-4"><!-- Skill 2 -->
				    <input class="form-control skillInput" type="text" placeholder="Skill 2 Name" name="skillTwoName" ng-model="skillTwoName"/><br>
				    <input class="form-control skillInput" type="text" placeholder="Skill 2 Link" name="skillTwoLink" ng-model="skillTwoLink"/><br>
                    </div>

				    <div class="col-md-4"><!--  Skill 3 -->
				    <input class="form-control skillInput" type="text" placeholder="Skill 3 Name" name="skillThreeName" ng-model="skillThreeName"/><br>
				    <input class="form-control skillInput" type="text" placeholder="Skill 3 Link" name="skillThreeLink" ng-model="skillThreeLink"/><br>
                    </div>

				    <div class="col-md-4"><!-- Skill 4 -->
				    <input class="form-control skillInput" type="text" placeholder="Skill 4 Name" name="skillFourName" ng-model="skillFourName"><br>
				    <input class="form-control skillInput" type="text" placeholder="Skill 4 Link" name="skillFourLink" ng-model="skillFourLink"/><br>
                    </div>

				    <div class="col-md-4"><!--  Skill 5 -->
				    <input class="form-control skillInput" type="text" placeholder="Skill 5 Name" name="skillFiveName" ng-model="skillFiveName" /><br>
				    <input class="form-control skillInput" type="text" placeholder="Skill 5 Link" name="skillFiveLink" ng-model="skillFiveLink"/><br>
                    </div>

                    <div class="col-md-4"><!--   Skill 6 -->
				    <input class="form-control skillInput" type="text" placeholder="Skill 6 Name" name="skillSixName" ng-model="skillSixName"/><br>
				    <input class="form-control skillInput" type="text" placeholder="Skill 6 Link" name="skillSixLink" ng-model="skillSixLink"/><br>
				    </div>
                 </div>

		        <input type="submit" value="Submit" class="btn btn-primary"/>
		    </form>
		</div>
        <div class="wrapper" ng-repeat="username in userdata">
			<div >

				<span class="name"><h1>{{username.name}} | {{position}}</h1></span>
				<h3 class="name">Location: {{username.location}}</h3><br><br><br><br>
				<div class="description">
				    <img src="{{username.avatar_url}}" class="headshot">
				    <div class="col-md-8">
					    <h3 class="headline">{{headline}}</h3>

					</div>
			  	</div><br><br>
			  	<div class="col-md-12">
			  	  <ul class="skillsRounds"> 
				    <li><a href="http://+{{skillOneLink}}" class="col-sm-6 col-md-6 col-lg-6">{{skillOneName}}</a></li> 
				    <li><a href="http://+{{skillTwoLink}}" class="col-sm-6 col-md-6 col-lg-6">{{skillTwoName}}</a></li> 
				    <li><a href="http://+{{skillThreeLink}}" class="col-sm-6 col-md-6 col-lg-6">{{skillThreeName}}</a></li> 
				    <li><a href="http://+{{skillFourLink}}" class="col-sm-6 col-md-6 col-lg-6">{{skillFourName}}</a></li> 
				    <li><a href="http://+{{skillFiveLink}}" class="col-sm-6 col-md-6 col-lg-6">{{skillFiveName}}</a></li> 
				    <li><a href="http://+{{skillSixLink}}" class="col-sm-6 col-md-6 col-lg-6">{{skillSixName}}</a></li> 
				  </ul> 
				</div>
			  	<div class="col-md-12 footer" style="text-align:center;">
			    	<a href="mailto:+{{email}}"><img src="images/mail.png" class="contactButtons"></a>
			    	<a href="tel:+{{phone}}"><img src="images/phone.png" class="contactButtons"></a>
			    	<a href="http://{{linkedin}}"><img src="images/linkedin-wrap.png" class="contactButtons"></a>
			    	<a href="http://twitter.com/+{{twitter}}"><img src="images/twitter.png" class="contactButtons"></a>
			    	<a href="http://github.com/+{{username.login}}"><img src="github.png" class="contactButtons"></a>
			    </div><br><br>
			</div>
		</div>
	</div>

	<script>
	var myApp = angular.module('busCard', []);
    myApp.controller('MainCtrl', function ($scope, $http) {
        $scope.userdata = [];
        $scope.addUser = function() {
            var theUrl = "https://api.github.com/users/"+$scope.username;
            console.log(theUrl);

            var promise = $http.get(theUrl);
            promise.then(function(response){
                $scope.userdata.push(response.data);
                console.log($scope.userdata);
            })
        };
//        $scope.submit = false;
//        $scope.edit = true;
    });

	</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>